.sidebar
{
    position:fixed;
    top:55px;
    right:0;
    bottom:0;
    left:0;
    background-color:green;
    width:70px;
    height:100%;
}
.sideicon
{
    background-color:white;
    height:16.1%;
    width:70px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.sideiconcss
{
    height:34px;
}
